.menuBar {
	overflow: hidden;
  	background-color: #2a48aa;
  	font-family: Trebuchet MS;
}

.menuBar a {
	float: left;
 	font-size: 18px;
  	color: white;
  	text-align: center;
  	padding: 14px 16px;
  	text-decoration: none;
}

.dropdown {
	float: left;
  	overflow: hidden;
}

.dropdown .dropButton {
	font-size: 18px; 
  	border: none;
  	outline: none;
  	color: white;
  	padding: 14px 16px;
  	background-color: inherit;
  	font-family: inherit;
  	margin: 0; 
}

.menuBar a:hover, .dropdown:hover .dropButton {
	background-color: #213884;
}

.dropdownItems {
	display: none;
  	position: absolute;
  	background-color: #2a48aa;
  	min-width: 160px;
  	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  	z-index: 1;
}

.dropdownItems a {
	float: none;
  	color: white;
  	padding: 12px 16px;
	text-decoration: none;
  	display: block;
  	text-align: left;
}

.dropdownItems a:hover {
	background-color: #213884;
}

.dropdown:hover .dropdownItems {
	display:block;
}

.mainBody {
	font-size: 18px;
	font-family: Verdana;
  	padding: 20px;
}
